@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --image-primary: #c4c4c4;
  --image-secondary: #9d9d9d;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ececec;
  --container-padding: 0 10rem;
  --container-padding-y: 0.7rem;
  --container-padding-x: 10rem;
  --font-color: #636262;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1250px) {
  :root {
    --container-padding: 0 5rem;
    --container-padding-y: 0.7rem;
    --container-padding-x: 5rem;
  }
}

@media (max-width: 426px) {
  :root {
    --container-padding: 0 2rem;
    --container-padding-y: 0.7rem;
    --container-padding-x: 2rem;
  }
}
